<meta charset="utf-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.footer-company .fc-top.with-text-zone {
	padding-bottom: 0;
}
.footer-company .fc-top {
	padding: 0 10px 0 0!important;
}
.footer-company .fc-text-zone {
	margin-top: 5px!important;
}
._customer-footer {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	background-size: cover;
}
._customer-footer ul {
	padding-left: 0;
}
._customer-footer ul li {
	list-style: none;
}
._customer-top-line {
	height: 9px;
	background: url("img/bg-top.jpg") repeat-x;
	position: relative;
}
._customer-top-wrap {
	max-width: 1227px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-right: 5px;
}
._customer-top {
	font-size: 24px;
	line-height: 35px;
	background: url("img/center.jpg") repeat-x;
	background-size: cover;
	padding-bottom: 7px;
}
._customer-left {
	padding-right: 10px;
	padding-top: 25px!important;
}
._customer-left li {
	padding-left: 40px;
	background: url("img/arrow.png") no-repeat 0 6px;
}
._customer-left ul li a {
	color: #000000;
	text-decoration: none;
}
._customer-left ul li a:hover {
	text-decoration: underline;
}
._customer-center {
	margin-top: 30px;
}
._customer-right {
	padding-right: 10px;
	padding-top: 25px!important;
}
._customer-right ul li {
	padding-left: 55px;
	background: url("img/list.png") no-repeat 0 16px;
}
._customer-right ul li a {
	color: #282a7e;
	text-decoration: none;
}
._customer-right li a:hover {
	text-decoration: underline;
}
._customer-white-line {
	height: 5px;
	background: #ffffff;
	position: relative;
	z-index: 3;
}
._customer-bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: url("img/bg-bottom.jpg") no-repeat;
	background-size: cover;
	position: relative;
	z-index: 4;
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	padding-top: 28px;
	padding-bottom: 33px;
}
._customer-bottom-wrap {
	width: 1227px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-right: 5px;
}
._customer-bottom-left {
	line-height: 47px;
	padding-left: 35px;
	margin-right: 10px;
}
._customer_address {
	background: url("img/maps.png") no-repeat 0 3px;
	padding-left: 63px;
	margin-bottom: 28px;
}
._customer-mode {
	background: url("img/clock.png") no-repeat 0 6px;
	padding-left: 63px;
}
._customer-bottom-center {
	margin-right: 10px;
}
._customer-phone {
	background: url("img/phone.png") no-repeat;
	padding-left: 70px;
	margin-bottom: 18px;
}
._customer-phone a {
	color: #fff;
	text-decoration: none;
}
._customer-mail {
	background: url("img/message.png") no-repeat;
	padding-left: 70px;
}
._customer-mail a {
	text-decoration: none;
	color: #fff;
}
._customer-btn {
	width: 260px;
	height: 50px;
	border: 2px solid #29a9d9;
	border-radius: 50px!important;
	text-align: center;
	line-height: 34px!important;
	margin: 0 auto;
	cursor: pointer;
	font-size: 18px!important;
	font-weight: 400;
	font-family: 'Roboto', sans-serif!important;
}
._customer-btn:hover {
	text-decoration: underline;
	background: none;
	opacity: 0.8;
}
@media (max-width: 1100px) {
	._customer-bottom-wrap {
		justify-content: center;
	}
	._customer-bottom-left {
		justify-content: center;
		margin-right: 20px;
	}
}
@media (max-width: 1048.99px) {
	._customer-top-wrap {
		justify-content: space-around;
	}
	._customer-center {
		order: 2;
		margin-top: 30px!important;
	}
	._customer-right {
		order: 1;
	}
}
@media (max-width: 1048.99px) {
	._customer-bottom-right {
		margin-top: 30px;
	}
}
</style>
<!-- footer -->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
	<div class="_customer-top-line"></div>

	<div class="_customer-top">
		<div class="_customer-top-wrap">
			<div class="_customer-left">
				<ul>
					<li><a href="/catalog/k-812242-stendy_skhod_razval">Стенды сход-развала</a></li>
					<li><a href="/catalog/k-816982-shinomantazhnyye_stanki">Шиномонтажные станки</a></li>
					<li><a href="/catalog/k-816981-balansirovochnyye_stanki">Балансировочные станки</a></li>
					<li><a href="/catalog/k-812238-podemnoye_oborudovaniye">Подъемники и домкраты</a></li>
					<li><a href="/catalog/k-841378-kompressory">Компрессоры</a></li>
					<li><a href="/catalog/k-4189834-instrument">Инструмент</a></li>
				</ul>
			</div>

			<div class="_customer-center"><img alt="Автомастерская" src="img/img-1.png" /><img alt="Автомастерская" src="img/img-2.png" /></div>

			<div class="_customer-right">
				<ul>
					<li><a href="/sales">Акции</a></li>
					<li><a href="/about">О компании</a></li>
					<li><a href="/delivery">Доставка и оплата</a></li>
					<li><a href="/pages/6890-lizing">Лизинг</a></li>
					<li><a href="/pages/6918-kreditovanie">Кредитование</a></li>
					<li><a href="/pages/7027-zayavka-na-kredit">Заявка на кредит</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="_customer-white-line"></div>

	<div class="_customer-bottom" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
		<div class="_customer-bottom-wrap">
			<div class="_customer-bottom-left">
				<div class="_customer_address">Адрес: <span itemprop="addressLocality">г. Екатеринбург,</span> <span itemprop="streetAddress">ул. Завокзальная, 5, 2.</span></div>

				<div class="_customer-mode">Время работы: пн-пт 9:00-15:00, сб, вс выходной</div>
			</div>

			<div class="_customer-bottom-center">
				<div class="_customer-phone" itemprop="telephone"><a href="tel:+73433793151">+7 (343) 379-31-51</a><br />
					<a href="tel:+78003503307">8 (800) 350-33-07</a></div>

				<div class="_customer-mail" itemprop="email"><a href="mailto:sales@oda.ur.ru">sales@oda.ur.ru</a></div>
			</div>

			<div class="_customer-bottom-right">
				<div class="apress-button ab-order js-apress-order-button js-get-order-form _customer-btn" data-company-id="12574" data-company-name="Ода" data-company-name-rest="ООО" data-company-url="http://www.oda-eka.ru/" data-params="{&quot;company_id&quot;:12574}" data-statistics="1" data-type="message">Написать нам</div>
			</div>
		</div>
	</div>
	<meta itemprop="name" content="ООО Ода"><meta content="Mo,Tu,We,Th,Fr 09:00-15:00" itemprop="openingHours"></footer>
<!-- end footer -->

